/*
	style.css
	Tyler Roland
	Edited 6/22/17
	Styles for Help Me Decide app
*/

/* -- Imported Fonts -- */

@font-face {
	font-family: CarnetDeVoyage; 
	src: url(fonts/CarnetDeVoyage.ttf);
}

@font-face {
	font-family: Varela; 
	src: url(fonts/Varela.ttf);
}

/* -- General Styles -- */

body {
	background-color: white;
	color: #222;
	font-family: Varela, sans-serif;
	margin: -1px 0 0 0; 
	text-align: center;
}

h2 {
	color: #fff;
	font-family: Varela; 
	font-size: 30px;
	letter-spacing: .1em;
}

button {
	background-color: #fff;
	border: 0;
	box-shadow: 2px 2px 2px #222;
	cursor: pointer;
	font-family: Varela; 
	font-size: 13px;
	margin: 15px; 
	padding: 5px 10px;
	text-transform: uppercase;
}

button.searchAgainBtn {
	background-color: #aa3b3b;
	color: white;
	padding: 10px 15px;
}

button:hover {
	background-color: #222; 
	color: white;
}

img {
	width: 100%;
}

label {
	color: white; 
	font-family: Varela; 
	font-size: 20px; 
	letter-spacing: .1em;
}

p {
	font-family: Varela; 
	font-size: 25px; 
	letter-spacing: .1em; 
	margin: 20px auto;
	width: 70%;
}


#fontLoader {
	font-family: CarnetDeVoyage;
}

/* Font Awesome icon styles */

.fa {
	color: white;
}

.fa-arrow-down {
	color: #d8c63a;
	left: 0;
	position: absolute; 
	text-shadow: 1px 1px 1px #444;
	top: 130px; 
	width: 100%;
	z-index: 50;
}

.fa-bicycle:hover, .fa-cutlery:hover, .fa-glass:hover, .fa-paint-brush:hover, .fa-close:hover {
	color: #222;
	cursor: pointer; 
	position: relative;
}

.fa-bicycle, .fa-glass, .fa-paint-brush {
	margin-left: 40px;
}

/* -- Jumbotron -- */

#jumbotron {
	background: url(img/billboard.jpg) no-repeat top center;
	background-size: cover;
}

.jumbotron {
	margin-bottom: 0;
	padding-top: 200px;
}

.jumbotron h1 {
	color: white;
	font-weight: bolder;
	margin-bottom: 0;
	text-align: right;
}

.jumbotron h3 {
	color: white;
	margin-top: 10px;
	text-align: right;
}

#yelpspan {
	color: #aa3b3b;
}

/* -- Start Div -- */

#startDiv {
	margin: auto;
}

#startDiv h2 {
	color: #222;
	padding: 20px 0;
}

#categoryDiv {
	background-color: #aa3b3b; 
	padding: 20px 0;
}

/* -- Choices container -- */

#choicesContainer {
	background-color: #46484c; 
	color: #222; 
	display: none;
	position: relative;
}

#choicesContainer h2 {
	text-decoration: underline;
}

#choices {
	background-color: #ddd; 
	border-top: 3px solid #222; 
	bottom: 0;
	height: 355px; 
	left: 0;
	overflow-y: scroll;
	padding-left: 10px; 
	padding-top: 5px;
	position: absolute;
	text-align: left; 
	width: 100%;
}

#choices label {
	color: #222; 
	font-size: 16px; 
	margin-left: 5px;
}

#choicesContainer p, #circleContainer p {
	color: #fff;
	font-size: 16px; 
	margin: auto;
	width: 90%;
}

#circleContainer p {
	margin: 20px auto 10px;
}

/* -- Chart container -- */
#chartContainer {
	background-color: #fff;
	border-radius: 100%;
	height: 300px;
	margin: auto;
	-webkit-border-radius: 100%; 
	width: 300px;
}

#container {
	border-radius: 100%;
	height: 300px;
	margin: 30px auto;
	overflow: hidden;
	-webkit-border-radius: 100%; 
	width: 300px;
}

#circleContainer {
	background-color: #46484c;
	display: none; 
	position: relative;
}

#circleContainer, #choicesContainer {
	height: 500px;
	margin-top: 2px;
	min-width: 300px;
	vertical-align: top;
	width: 49.9%;
}

#bothContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Modal and Content */

.modal {
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
	display: none;
	height: 100%;
	left: 0; 
	overflow: auto;
	position: fixed;
	top: 0; 
	width: 100%;
	z-index: 100;
}

.modal-content {
	background-color: #aa3b3b; 
	border: 3px solid white;
	color: white;
	font-family: Varela;
	font-size: 30px;
	margin: 15% auto;
	overflow: hidden; 
	padding: 20px;
	text-align: center; 
	width: 80%;
}

#results {
	font-family: CarnetDeVoyage;
	font-size: 80px;  
	margin: 40px auto;
	text-transform: uppercase;
	width: 80%;
}

.modal-content .modalbutton {
	background-color: white;
	border: 0; 
	color: #222; 
	cursor: pointer;
	font-size: 20px;
	margin: 10px;
	padding: 10px;
}

.modal-content .modalbutton:hover {
	background-color: #222; 
	color: white;
}

#manualLocation {
	display: none; 
	margin: 0 auto; 
	width: 70%;
}

#manualLocation button {
	margin: 0;
}

.closeModal {
	margin: auto;
	text-align: right;
	width: 95%;
}

.modal p {
	margin: 0 auto;
}

/* -- Styles for each business returned from Yelp search -- */

#finalResults {
	display: none;
}

p.resultError {
	font-size: 18px;
	width: 100%;
}

.card {
	border-top: 2px solid #222; 
	margin: auto;
	padding: 30px 0; 
	text-align: left;
	width: 100%;
}

.card .image {
	border: 3px solid #222; 
	box-shadow: 3px 3px 3px #222;
	max-height: 300px;
	max-width: 300px;
	overflow: hidden;
	width: 20%;
}

.card a:link, .card a:visited {
	color: #aa3b3b;
}

.card a:hover {
	color: #222;
}

.rating img {
	margin-right: 5px;
	width: 20px; 
}

.image img {
	vertical-align: middle;
	width: 100%;
}

.info {
	margin-left: 30px; 
	max-width: 40%;
}

.name {
	font-size: 40px; 
	margin-bottom: 20px;
}

.inline {
	display: inline-block; 
	vertical-align: top;
}

.address {
	float: right; 
	max-width: 30%;
	text-align: right;
}

.address img {
	width: 100px;
}

/* -- Footer -- */

.footer {
	width: 100%;
}

.footer p {
	font-size: 14px;
	margin: 0 auto;
	padding: 20px;
	width: 100%;
}


@media screen and (max-width: 768px) {
	.name {font-size: 25px; margin-bottom: 10px;}
	.address img {width: 50px;}
	#results {font-size: 40px;}
	.fa-bicycle, .fa-glass, .fa-cutlery, .fa-paint-brush {font-size: 40px;}
	.fa-bicycle, .fa-glass, .fa-paint-brush {margin-left: 20px;}
}

@media screen and (max-width: 760px) {

	#bothContainer {
		flex-direction: column; 
	}

	#choicesContainer, #circleContainer {width: 100%;}
	.card .image {width: 100%; max-width: 100%; max-height: 100%;}
	.card .info {max-width: 100%; width: 100%; margin: 10px 0;}
	.card .address {float: none; text-align: left; max-width: 100%; width: 100%;}
	.fa-arrow-down {top: 150px;}
	h2 {
		font-size: 25px;
	}

	#results {
		font-size: 25px;
	}
}

@media screen and (max-width: 320px) {
	#container, #choicesContainer {width: 280px;}
	#chartContainer {width: 280px; height: 280px;}
}